.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

.selectsContainer {
  justify-content: center;
  gap: 12px;
}

.travel {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}


select {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}


form {
  padding: 20px;
  border-radius: 8px;
}


button {
  grid-column: 1 / 3;
  grid-row: 2;
  flex-basis: 30%;
}
